.buttons {
}

.piece-square {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: rgb(238, 229, 229);
}

.dark-square {
  background: rgb(70, 69, 69);
}

.board {
  margin: 30px;
  width: 770px;
  height: 770px;
  border-radius: 10px;
  padding: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: rgb(255, 255, 255); */
  display: grid;
  grid-template-columns: repeat(11, [col-start] 1fr);
  /* grid-auto-rows: 200px; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.black {
  background: rgb(92, 91, 91);
}

.current {
  /* border-radius: 50%; */
  background: #ff1111;

  animation: pulse 2.5s infinite;
}

.occupied {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 51, 0.8771084337349397) 59%,
    rgba(255, 0, 140, 1) 100%
  );
  /* position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; */
}

/* .meal {
  border-radius: 50%;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 146, 55, 0.877) 27%,
    rgba(108, 255, 0, 1) 100%
  );
  animation: pulse 2.5s infinite;
} */
.meal {
  border-radius: 50%;
  background: repeating-radial-gradient(ellipse, red 20%, green 40%);
  /* height:100vh;
			width:100vw; */

  animation: color 1.1s ease infinite;
}
@keyframes color {
  0%,
  100% {
    background: repeating-radial-gradient(
      circle,
      rgb(55, 70, 49) 20%,
      rgb(104, 255, 3) 40%
    );
  }
  10% {
    background: repeating-radial-gradient(circle, indigo 20%, blue 40%);
  }
  20% {
    background: repeating-radial-gradient(circle, blue 20%, green 40%);
  }
  30% {
    background: repeating-radial-gradient(circle, green 20%, yellow 40%);
  }
  40% {
    background: repeating-radial-gradient(circle, yellow 20%, orange 40%);
  }
  50% {
    background: repeating-radial-gradient(circle, orange 20%, red 40%);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
